@import url("https://fonts.cdnfonts.com/css/typo-round");
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  min-height: calc(100vh - 64px);
}

.customfont-typoround {
  font-family: "Typo Round Regular Demo", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.katex-html {
  @apply hidden;
}
