@tailwind base;
@tailwind components;
@tailwind utilities;

Prose,
Table,
and List Styling .prose {
  max-width: 100%;
  line-height: 1.6;
}

/* Table Styling */
.prose table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
}

.prose th,
.prose td {
  @apply border border-gray-300 dark:border-gray-800 p-2;
  text-align: left;
}

.prose th {
  @apply bg-white dark:bg-[#595c62] text-gray-800 dark:text-gray-200 font-semibold;
}

.prose td {
  @apply bg-white dark:bg-[#3f4145] text-gray-700 dark:text-gray-200;
}

.prose tr:nth-child(even) {
  @apply bg-[#f9fafb] dark:bg-[#4e5155];
}

.prose tr:hover {
  background-color: #f1f5f9;
  transition: background-color 0.3s ease;
}

/* List Styling */
.prose ul,
.prose ol {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.prose ul {
  list-style-type: disc;
}

.prose ol {
  list-style-type: decimal;
}

.prose ul ul,
.prose ol ul {
  list-style-type: circle;
  margin-bottom: 0;
}

.prose ul ol,
.prose ol ol {
  list-style-type: lower-alpha;
  margin-bottom: 0;
}

.prose li {
  margin-bottom: 0.5rem;
}

.prose li > p {
  margin-bottom: 0.5rem;
}

.prose li > ul,
.prose li > ol {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* Your existing styles */
.prose pre {
  background-color: #202020;
  color: #acb2be;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  overflow-x: auto;
  margin: 2rem 0 1rem;
  position: relative; /* Add this */
}

.prose pre::before {
  content: "Code";
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #e5e7eb;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  margin-bottom: 5px;
  position: sticky; /* Make the header stick when scrolling */
  left: 0;
  top: 0;
  z-index: 1;
}

/* Add padding to the code content */
.prose pre code {
  padding: 1rem;
  display: block;
  min-width: 100%; /* Ensure code takes up at least full width */
}

/* For the actual code content if not using code tags */
.prose pre > div,
.prose pre > span {
  padding: 1rem;
  display: inline-block; /* This helps with horizontal content */
  min-width: 100%; /* Ensure content takes up at least full width */
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .prose table {
    font-size: 14px;
  }

  .prose th,
  .prose td {
    padding: 5px;
  }

  .prose ul,
  .prose ol {
    padding-left: 2rem;
  }
}

.prose h1 {
  font-size: 32px;
  margin: 13px 0px;
}

.prose h2 {
  font-size: 28px;
  margin: 13px 0px;
}

.prose h3 {
  font-size: 24px;
  margin: 13px 0px;
}

.prose h4 {
  font-size: 20px;
  margin: 13px 0px;
}

.prose h5 {
  font-size: 18px;
  margin: 13px 0px;
}

.prose h6 {
  font-size: 16px;
  margin: 13px 0px;
}

.prose p {
  font-size: 16px;
}

.prose annotation[encoding="application/x-tex"] {
  display: none !important;
}
